*::before,
*::after,
* {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

body[data-theme="inactive"] {
  background-color: white;
}
body[data-theme="active"] {
  background-color: rgb(12, 130, 153);
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#toggle-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#box {
  width: 25rem;
  height: 25rem;
  background-color: aquamarine;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  position: absolute;
  transform: translateY(-200%);

  transition: 300ms ease-out transform;
}

#box[data-state="visible"] {
  transform: translateY(-70%);
}

body[data-theme="visible.dark"] {
  background-color: #333;
}
body[data-theme="visible.light"] {
  background-color: #fff;
}

button {
  width: 5rem;
  height: 2rem;
  font-size: 17px;
  border-radius: 4px;
  border: none;
  margin: 0.5rem;
  cursor: pointer;
  background-color: rgb(15, 129, 222);
}
